* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    padding: 2rem;
    font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    --color-dark: #252841;
    min-height: 100vh;
    justify-content: center;
  }
  
  h1 {
    color: #3399FF;
  }
  
  .page-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 2rem;
    background-color: #fff;
    box-shadow: 0 0 10px #d3d3d3;
    border-radius: 5px;
    padding: 10px 15px;
  }
  .page-container i {
    padding: 6px 12px;
    cursor: pointer;
    font-size: 18px;
    color: var(--color-dark);
    pointer-events: none;
  }
  .page-container button {
    cursor: pointer;
    background-color: transparent;
    border: none;
  }
  .page-container button:disabled i {
    color: #aaadc7;
  }
  
  #pagination {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  #pagination li {
    list-style: none;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 3px;
  }
  #pagination li.active {
    background-color: #39f;
  }
  #pagination li.active a {
    color: #fff;
  }
  #pagination li a {
    text-decoration: none;
    font-weight: 600;
    padding: 8px 13px;
    display: inline-block;
    line-height: 1;
    color: #a9a9a9;
    font-size: 20px;
    pointer-events: none;
  }
  #pagination li:hover {
    background-color: #39f;
  }
  #pagination li:hover a {
    color: #fff;
  }
  
  .settings {
    padding-top: 3rem;
    display: flex;
    align-items: flex-start;
  }
  .settings .form-input {
    margin-bottom: 1rem;
  }
  .settings .form-input:not(:last-child) {
    margin-right: 3rem;
  }
  .settings .form-input > label {
    margin-bottom: 10px;
  }
  .settings .form-input label {
    font-size: 18px;
    font-weight: 600;
    display: block;
  }
  .settings .form-input > input {
    width: 100%;
  }
  .settings .form-input input {
    font-size: 18px;
    outline: none;
    padding: 10px 17px;
    border-radius: 5px;
    border: 1px solid #b6b6b6;
  }
  .settings .wrapper-form-check {
    display: flex;
  }
  .settings .wrapper-form-check .form-check {
    display: flex;
    line-height: 1;
    align-items: center;
  }
  .settings .wrapper-form-check .form-check:not(:last-child) {
    margin-right: 10px;
  }
  .settings .wrapper-form-check label {
    margin-left: 10px;
  }
  @media (max-width: 992px) {
    .settings {
      flex-direction: column;
    }
  }

  .a{
    text-decoration: none;
  }

  .wrapper_top {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .wrapper_top_home{
    margin: 20px 10px;
  }

  .wrapper_top_search {
    height: 50px;
    width: 100%;
    margin: 20px 10px 20px 10px;
    display: flex;
    align-items: center;
    border: none;
  }
  .wrapper_top_search input{
    flex: 1;
    padding: 20px;          
    height: 100%;
    border-radius: 5px 0 0 5px;
    border: 1px solid #6699CC;
  }

  .wrapper_top_search div {
    display: flex;
    height: 100%;
    width: 70px;
    justify-content: center;
    align-items: center;
    background-color: #6699CC;
    color: white;
    border-radius: 0 5px 5px 0;
  }

  .categories {
    width: 100%;
  }

  .task_bar {
    height: 50px;
    background-color: #6699CC;
    color: #fff;
    display: flex;
    padding: 10px;
    margin: 20px 10px;
    border-radius: 5px;
  }

  .task_bar ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .task_bar a {
    color: #fff;
  }
  
  .task_bar ul li {
    margin: 10px;
  }
  
  .task_bar ul li:hover{
    color: #3366CC	;
    cursor: pointer;border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .task_btn {
    /* padding: 16px; */
    /* background-color: #6699CC; */
    color: #6699CC;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 30px;
  }

  .list{
    flex: 1;
    margin: 0;
  }

  .manage {
    align-items: center;
  }

  .manage .dropbtn {
    background-color: #6699CC;
    color: white;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    /* width: 50px; */
    height: 100%;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #dedada}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropbtn:hover {
    color: #3366CC	;
  }

  /* body */

  .wrapper_content {
    width: 1232px;
    height: 850px;
    display: flex;
    /* justify-content: center; */
    padding: 10px;
  }

  .wrapper_content_product {
    display: flex;
    border-radius: 5px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    /* justify-content: center; */
  }

  .wrapper_product_left {
    padding: 10px;
  }

  .wrapper_product_image {
    width: 100%;
    padding: 0 5px 10px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .wrapper_product_image img {
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
  }

  .wrapper_product_chooseImage {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .wrapper_product_left_line {
    border-style: groove;
    border: 1 solid #333333;
    margin: 30px 0;
  }

  .wrapper_product_description {
    font-size: 16px;
    font-family: cursive;
  }

  .p_margin_0 {
    margin: 0;
  }

  .wrapper_product_right {
    padding: 10px 20px 10px 10px;
  }

  .wrapper_product_name {
    height: 65px;
    margin-bottom: 10px;
  }

  .wrapper_product_name_input {
    font-size: 18px;
    font-weight: bold;
  }

  .wrapper_product_brand {
    display: flex;
    align-items: center;
    height: 22px;
    margin-bottom: 10px;
  }

  .wrapper_product_brand_label {
    color: #666666;
    margin-right: 10px;
  }

  .wrapper_product_brand_value {
    flex: 1;
    color: #3366CC;
    padding-left: 5px;
    border-radius: 5px;
    border: 1px solid #666666;
    outline: none;
  }

  .wrapper_product_color {
    display: flex;
    align-items: center;
    height: 22px;
  }

  .wrapper_product_color_label {
    color: #666666;
    margin-right: 13px;
  }

  .wrapper_product_color_value {
    flex: 1;
    padding-left: 5px;
    border-radius: 5px;
    border: 1px solid #666666;
    outline: none;
  }

  .wrapper_product_price {
    color: #f00;
    font-size: 24px;
    font-weight: bold;
    height: 40px;
  }

  .wrapper_product_price_value {
    margin: 0;
  }

  .wrapper_product_right_line {
    border-style: groove;
    border: 1 solid #333333;
    margin: 20px 0;
  }

  .promotion_title {
    color: #666666;
    margin-bottom: 7px;
  }

  /* .promotion_received {
    margin: 0;
  } */

  .promotion {
    /* display: flex; */
  }

  .wrapper_promotion {
    height: 50px;
    display: flex;
    align-items: center;
  }

  .wrapper_promotion_icon {
    padding: 5px 10px 0 5px;
  }

  .wrapper_promotion_icon i {
    font-size: 32px;
  }

  .wrapper_promotion_content {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
    padding: 5px 0 0 5px;
  }

  .wrapper_product_button {
    padding: 20px 0 10px 0;
    display: flex;
    justify-content: center;
  }

  .product_button {
    flex: 1;
    height: fit-content;
    /* border-color: #252841; */
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 0 10px 0 0;
  }

  .product_button button {
    width: 100%;
    font-weight: 30px;
  }

  .related_promotion {

  }

  .related_promotion_title {
    font-weight: bold;
    font-size: 14px;
  }

  .related_promotion_content_2 {
    list-style-type: square;
  }

  .sell_price {
    color: #f00;
  }

  .wrapper_content_store {
    height: 300px;
  }

  .wrapper_content_store_name {
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
    height: 70px;
    display: flex;
    align-items: center;box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    border-radius: 5px;
  }

  .store_icon {
    width: 40px;
    height: 40px;
    margin-right: 7px;
  }

  .store_icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .store_name {
    flex: 1;
    font-size: 16px;
  }

  .wrapper_content_store_endow {
    padding: 10px;
    align-items: center;box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    border-radius: 5px;
  }
  
  .transport {
    display: flex;
    align-items: center;
  }

  .transport_text {
    margin-left: 10px;
  }
  
  .transport_text_value {
    font-size: 13px;
    color: #0fc212;
  }

  .wrapper_content_store_line {
    margin: 14px 0;
    border-style: groove;
    border: 1 solid #333333;
  }

  .sales_policy {
    margin-bottom: 7px;
  }

  .sales_policy_text {
    font-weight: bold;
    font-size: 14px;
  }

  .wrapper_sales_policy {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
  }

  .sales_policy_icon {
    margin-right: 10px;
  }

  .wrapper_sales_policy_text {
    
  }

  .wrapper_sales_policy_text_value {
    font-size: 14px;
  }

  /* .related_promotion_title_value {
    margin: 0;
  } */


  /*  */
  .present {
    width: 100%;
  }
  .present ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .present ul li{
    /* margin: 10px; */
    margin-bottom: 20px;
  }

  
  