<!DOCTYPE html>
<html>
  <head>
    <title>Parcel Sandbox</title>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
	  	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
	  	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home_admin.css}"/>
    <script
        src="https://kit.fontawesome.com/b6f3c45133.js"
        crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="title_Web">
        <h1>COMMERCIAL WEB</h1>
    </div>

    <div class="wrapper_top">
      <a href="index.html" class="task_btn dropbtn wrapper_top_home"><i class="fa-solid fa-house"></i></a>
      <div class="wrapper_top_search">
        <input type="text" placeholder="Search">
        <div><i class="fa-solid fa-magnifying-glass"></i></div>
      </div>
    </div>

    <div class="categories">
		<div class="task_bar">
			<ul class="list">
				<li>Vi xử lý</li>
				<li>Bo mạch chủ</li>
				<li>Ram</li>
				<li>HDD</li>
				<li>SSD</li>
				<li>Card màn hình</li>
				<li>Nguồn</li>
				<li>Vỏ case</li>
				<li>Tản nhiệt</li>
				<li>Màn hình</li>
				<li>Bàn phím</li>
				<li>Chuột</li>
			</ul>
			<ul class="manage">
				<li>
					<div class="manage-button-insert-product"><a href="#" type="button" class="btn btn-success">Add product</a></div>
				</li>
				<li>
					<div class="dropbtn"><i class="fa-solid fa-cart-shopping"></i></div>
				</li>
				<li>
					<div class="dropdown">
						<button class="dropbtn"><i class="fa-solid fa-user"></i></button>
						<div class="dropdown-content">
							<a href="#">User</a>
							<a href="#">Log Out</a>
						</div>
						</div>
				</li>
			</ul>
		</div>
    </div>
    

    <div class="present">
		<ul class="row">
            <li class="col-md-3">
                <div class="product-box ">
                    <div class="product-image">
                      <img src="img/imgProduct.jpg" alt="Product Image">
                    </div>
                    <div class="product-details">
						<h2 class="product-name">Product Name </h2>
						<p class="product-price">$19.99</p>
						<div class="product-color-brand">
							<p class="product-color"><b>Color: </b> <span class="product-color-value">Red</span></p>
							<p class="product-brand"><b>Brand: </b> <span class="product-brand-value">Name</span></p>
						</div>
						<p class="product-desc">Cookie và Session là hai phương pháp sử dụng để quản lý các phiên làm việc giữa người sử dụng và hệ thống, nói cách khác cả hai đều có thể được dùng để lưu trữ tạm thời thông tin của người dùng, và từ đó hệ thống có thể đưa ra những quyết định về quyền hạn hoặc là những tùy chọn riêng tư.</p>
					</div>
					<div class="product-footer">
						<div class="product-footer-button button-add-to-card">
							<button type="button" class="btn btn-danger">Delete</button>
						</div>
						<div class="product-footer-button button-add-to-card">
							<button type="button" class="btn btn-primary">Edit</button>
						</div>
						<div class="product-footer-button button-detai">
							<button type="button" class="btn btn-info">Buy</button>
						</div>
					</div>
				</div>
            </li>
			<li class="col-3">
                <div class="product-box ">
                    <div class="product-image">
                      <img src="img/imgProduct.jpg" alt="Product Image">
                    </div>
                    <div class="product-details">
						<h2 class="product-name">Product Name </h2>
						<p class="product-price">$19.99</p>
						<div class="product-color-brand">
							<p class="product-color"><b>Color: </b> <span class="product-color-value">Red</span></p>
							<p class="product-brand"><b>Brand: </b> <span class="product-brand-value">Name</span></p>
						</div>
						<p class="product-desc">Cookie và Session là hai phương pháp sử dụng để quản lý các phiên làm việc giữa người sử dụng và hệ thống, nói cách khác cả hai đều có thể được dùng để lưu trữ tạm thời thông tin của người dùng, và từ đó hệ thống có thể đưa ra những quyết định về quyền hạn hoặc là những tùy chọn riêng tư.</p>
					</div>
					<div class="product-footer">
						<div class="product-footer-button button-add-to-card">
							<button type="button" class="btn btn-danger">Delete</button>
						</div>
						<div class="product-footer-button button-add-to-card">
							<button type="button" class="btn btn-primary">Edit</button>
						</div>
						<div class="product-footer-button button-detai">
							<button type="button" class="btn btn-info">Buy</button>
						</div>
					</div>
				</div>
            </li>
			<li class="col-3">
                <div class="product-box ">
                    <div class="product-image">
                      <img src="img/imgProduct.jpg" alt="Product Image">
                    </div>
                    <div class="product-details">
						<h2 class="product-name">Product Name </h2>
						<p class="product-price">$19.99</p>
						<div class="product-color-brand">
							<p class="product-color"><b>Color: </b> <span class="product-color-value">Red</span></p>
							<p class="product-brand"><b>Brand: </b> <span class="product-brand-value">Name</span></p>
						</div>
						<p class="product-desc">Cookie và Session là hai phương pháp sử dụng để quản lý các phiên làm việc giữa người sử dụng và hệ thống, nói cách khác cả hai đều có thể được dùng để lưu trữ tạm thời thông tin của người dùng, và từ đó hệ thống có thể đưa ra những quyết định về quyền hạn hoặc là những tùy chọn riêng tư.</p>
					</div>
					<div class="product-footer">
						<div class="product-footer-button button-add-to-card">
							<button type="button" class="btn btn-danger">Delete</button>
						</div>
						<div class="product-footer-button button-add-to-card">
							<button type="button" class="btn btn-primary">Edit</button>
						</div>
						<div class="product-footer-button button-detai">
							<button type="button" class="btn btn-info">Buy</button>
						</div>
					</div>
				</div>
            </li>
			<li class="col-3">
                <div class="product-box ">
                    <div class="product-image">
                      <img src="img/imgProduct.jpg" alt="Product Image">
                    </div>
                    <div class="product-details">
						<h2 class="product-name">Product Name </h2>
						<p class="product-price">$19.99</p>
						<div class="product-color-brand">
							<p class="product-color"><b>Color: </b> <span class="product-color-value">Red</span></p>
							<p class="product-brand"><b>Brand: </b> <span class="product-brand-value">Name</span></p>
						</div>
						<p class="product-desc">Cookie và Session là hai phương pháp sử dụng để quản lý các phiên làm việc giữa người sử dụng và hệ thống, nói cách khác cả hai đều có thể được dùng để lưu trữ tạm thời thông tin của người dùng, và từ đó hệ thống có thể đưa ra những quyết định về quyền hạn hoặc là những tùy chọn riêng tư.</p>
					</div>
					<div class="product-footer">
						<div class="product-footer-button button-add-to-card">
							<button type="button" class="btn btn-danger">Delete</button>
						</div>
						<div class="product-footer-button button-add-to-card">
							<button type="button" class="btn btn-primary">Edit</button>
						</div>
						<div class="product-footer-button button-detai">
							<button type="button" class="btn btn-info">Buy</button>
						</div>
					</div>
				</div>
            </li>
			<li class="col-3">
                <div class="product-box ">
                    <div class="product-image">
                      <img src="img/imgProduct.jpg" alt="Product Image">
                    </div>
                    <div class="product-details">
						<h2 class="product-name">Product Name </h2>
						<p class="product-price">$19.99</p>
						<div class="product-color-brand">
							<p class="product-color"><b>Color: </b> <span class="product-color-value">Red</span></p>
							<p class="product-brand"><b>Brand: </b> <span class="product-brand-value">Name</span></p>
						</div>
						<p class="product-desc">Cookie và Session là hai phương pháp sử dụng để quản lý các phiên làm việc giữa người sử dụng và hệ thống, nói cách khác cả hai đều có thể được dùng để lưu trữ tạm thời thông tin của người dùng, và từ đó hệ thống có thể đưa ra những quyết định về quyền hạn hoặc là những tùy chọn riêng tư.</p>
					</div>
					<div class="product-footer">
						<div class="product-footer-button button-add-to-card">
							<button type="button" class="btn btn-danger">Delete</button>
						</div>
						<div class="product-footer-button button-add-to-card">
							<button type="button" class="btn btn-primary">Edit</button>
						</div>
						<div class="product-footer-button button-detai">
							<button type="button" class="btn btn-info">Buy</button>
						</div>
					</div>
				</div>
            </li>
			<li class="col-3">
                <div class="product-box ">
                    <div class="product-image">
                      <img src="img/imgProduct.jpg" alt="Product Image">
                    </div>
                    <div class="product-details">
						<h2 class="product-name">Product Name </h2>
						<p class="product-price">$19.99</p>
						<div class="product-color-brand">
							<p class="product-color"><b>Color: </b> <span class="product-color-value">Red</span></p>
							<p class="product-brand"><b>Brand: </b> <span class="product-brand-value">Name</span></p>
						</div>
						<p class="product-desc">Cookie và Session là hai phương pháp sử dụng để quản lý các phiên làm việc giữa người sử dụng và hệ thống, nói cách khác cả hai đều có thể được dùng để lưu trữ tạm thời thông tin của người dùng, và từ đó hệ thống có thể đưa ra những quyết định về quyền hạn hoặc là những tùy chọn riêng tư.</p>
					</div>
					<div class="product-footer">
						<div class="product-footer-button button-add-to-card">
							<button type="button" class="btn btn-danger">Delete</button>
						</div>
						<div class="product-footer-button button-add-to-card">
							<button type="button" class="btn btn-primary">Edit</button>
						</div>
						<div class="product-footer-button button-detai">
							<button type="button" class="btn btn-info">Buy</button>
						</div>
					</div>
				</div>
            </li>
			<li class="col-3">
                <div class="product-box ">
                    <div class="product-image">
                      <img src="img/imgProduct.jpg" alt="Product Image">
                    </div>
                    <div class="product-details">
						<h2 class="product-name">Product Name </h2>
						<p class="product-price">$19.99</p>
						<div class="product-color-brand">
							<p class="product-color"><b>Color: </b> <span class="product-color-value">Red</span></p>
							<p class="product-brand"><b>Brand: </b> <span class="product-brand-value">Name</span></p>
						</div>
						<p class="product-desc">Cookie và Session là hai phương pháp sử dụng để quản lý các phiên làm việc giữa người sử dụng và hệ thống, nói cách khác cả hai đều có thể được dùng để lưu trữ tạm thời thông tin của người dùng, và từ đó hệ thống có thể đưa ra những quyết định về quyền hạn hoặc là những tùy chọn riêng tư.</p>
					</div>
					<div class="product-footer">
						<div class="product-footer-button button-add-to-card">
							<button type="button" class="btn btn-danger">Delete</button>
						</div>
						<div class="product-footer-button button-add-to-card">
							<button type="button" class="btn btn-primary">Edit</button>
						</div>
						<div class="product-footer-button button-detai">
							<button type="button" class="btn btn-info">Buy</button>
						</div>
					</div>
				</div>
            </li>
			<li class="col-3">
                <div class="product-box ">
                    <div class="product-image">
                      <img src="img/imgProduct.jpg" alt="Product Image">
                    </div>
                    <div class="product-details">
						<h2 class="product-name">Product Name </h2>
						<p class="product-price">$19.99</p>
						<div class="product-color-brand">
							<p class="product-color"><b>Color: </b> <span class="product-color-value">Red</span></p>
							<p class="product-brand"><b>Brand: </b> <span class="product-brand-value">Name</span></p>
						</div>
						<p class="product-desc">Cookie và Session là hai phương pháp sử dụng để quản lý các phiên làm việc giữa người sử dụng và hệ thống, nói cách khác cả hai đều có thể được dùng để lưu trữ tạm thời thông tin của người dùng, và từ đó hệ thống có thể đưa ra những quyết định về quyền hạn hoặc là những tùy chọn riêng tư.</p>
					</div>
					<div class="product-footer">
						<div class="product-footer-button button-add-to-card">
							<button type="button" class="btn btn-danger">Delete</button>
						</div>
						<div class="product-footer-button button-add-to-card">
							<button type="button" class="btn btn-primary">Edit</button>
						</div>
						<div class="product-footer-button button-detai">
							<button type="button" class="btn btn-info">Buy</button>
						</div>
					</div>
				</div>
            </li>
        </ul>
	</div>
    
    <h1>Dynamic Pagination</h1>
    <div class="page-container">
      <button class="first-page" disabled>
        <i class="fas fa-angle-double-left"></i>
      </button>
      <button class="prev-page" disabled>
        <i class="fas fa-angle-left"></i>
      </button>
      <div id="pagination"></div>
      <button class="next-page">
        <i class="fas fa-angle-right"></i>
      </button>
      <button class="last-page">
        <i class="fas fa-angle-double-right"></i>
      </button>
    </div>

    <div class="settings">
        <div class="form-input">
          <label for="">Truncation</label>
          <div class="wrapper-form-check">
            <div class="form-check">
              <input
                class="check"
                type="radio"
                checked
                name="enable"
                id="enable"
              />
              <label for="enable">Enable</label>
            </div>
            <div class="form-check">
              <input class="check" type="radio" name="enable" id="disable" />
              <label for="disable">Disable</label>
            </div>
          </div>
        </div>
        <div class="form-input">
          <label for="pages">Number of pages:</label>
          <input type="number" min="1" id="pages" value="10" />
        </div>
        <div class="form-input">
          <label for="curpage">Current page:</label>
          <input type="number" min="1" id="curpage" value="1" />
        </div>
  
        <div class="form-input">
          <label for="delta">Number of links two side of current page</label>
          <input type="number" id="delta" min="1" max="5" value="1" />
        </div>
      </div>

    <!-- <script src="./index.js"></script> -->
  </body>
</html>
